html, body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    height: 100%;
}

#menu {
    background-color: rgb(34, 40, 49);  
    margin: 0;
    height: 8%;  
    width: 100%;
    display: flex;  
    align-items: center;  
    box-shadow: 0 2px .4em rgb(0, 173, 181);
}

.nav {
    border-radius: 10px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(0, 173, 181);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
}

.nav:hover {
    background-color: rgb(57, 62, 70);
}

#content {
    height: 92%;
}

h1 {
    margin: 0;
}

#dropzonebox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

#dropzone {
    width: 80%;
    height: 80%;
    box-shadow: 0 2px .4em rgba(0, 172, 181, 0.632);
    border-radius: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#files {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dragover {
    border: 3px solid rgb(0, 173, 181);
    background-color: rgb(211, 211, 211);
}

.dragleave {
    border: 3px dashed rgb(0, 173, 181);
    background-color: rgb(200, 200, 200);
}

#photo {
    border: 2px solid rgb(34, 40, 49);
    box-shadow: 0 2px .4em rgb(0, 173, 181);
}

canvas {
    display: block;
    margin: auto;
    margin-top: 1%;
}